form.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.form input {
    flex:  1 1 calc(50% - 1rem);
    border-radius: 5px;
}

.form button {
    flex: 1 1 100%;
    border-radius: 5px;
    background: var(--blue);
}

form.form :is(input, button) {
    padding: .7rem;
}





